<!DOCTYPE html>
<html lang="zh-Cn">
<head>
    <meta charset="UTF-8">
    <title>vinko</title>
    <link rel="stylesheet" href="styles/vendor/pure-min.css" />
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>
    <section class="container">
        <div class="alert alert-error alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>hello, world!</strong> 
        </div>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>hello, world!</strong> 
        </div>
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>hello, world!</strong> 
        </div>
    </section>
</body>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="scripts/vinko.js"></script>
</html>
