<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>vinko</title>
    <link rel="stylesheet" href="styles/vendor/pure-min.css" />
    <link rel="stylesheet" href="styles/style.css" />
</head>
<body>
    <section class="container medium">
        <div class="wrapper" id="login">
            <div class="alert alert-error">
                密码错误
            </div>
            <div class="grid">
                <header>
                    <h1>欢迎回来</h1>
                </header>
                <form action="" class="pure-form pure-form-aligned">
                    <div class="pure-control-group">
                        <label for="username">用户名</label>
                        <input type="text" name="username" class="pure-u-1-2"/>
                    </div>
                    <div class="pure-control-group">
                        <label for="password">密码</label>
                        <input type="password" name="password" class="pure-u-1-2" />
                    </div>
                    <div class="pure-controls">
                        <button class="pure-button pure-button-primary" type="submit">登入</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script src="scripts/vinko.js"></script>
</html>
